body {
  margin: 0 auto;
  text-align: center;
}

header {
  background-color: blue;
  color: white;
}

.info {
  background-color: green;
  color: white;
}

.transportation {
  background-color: black;
  color: white;
}

/* Requirements:
- Place the existing `<h1>` inside of a `header` element and add a background-color to that header. (DONE).
- Create a stylesheet.css file and import it into the index.html file. (DONE.)
- Add a new div with a class name of "info". Inside that div add an `<h2> My name is YOUR NAME </h2>` Add a background-color and a text color of your choice. (DONE).
- Add an image tag `<img>` and source an image of your main mode of transportation (you car, bus, scooter, bike, feet, etc) (DONE).
- Add an `<h3>` that explains your mode of transportation. Add a background-color and a text color of your choice. (DONE). */
